---
layout: default
---
<div class="home">
  <div class="prompt">user@mzaran.com:~$ tree _posts/</div>

  {% if site.posts.size == 0 %}
    <p class="dim">No posts yet.</p>
  {% else %}
  <div class="tree">
    <div class="tree-root">_posts/</div>
    <div class="tree-entries">
      {% for post in site.posts %}
      <div class="tree-entry">
        <a href="{{ post.url | relative_url }}" class="tree-link"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>-{{ post.title | slugify }}.md</a>
        {% if post.description %}
        <div class="tree-desc">{{ post.description }}</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
